# Flutter / Dart
**/build/
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/
**/*.g.dart
**/*.freezed.dart
**/pubspec.lock

# Melos
.melos_tool/

# Node / Admin panel
**/node_modules/
**/.env
**/.env.local
**/dist/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Supabase
**/supabase/.branches
**/supabase/.temp
